<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style>
        .headerPage, .footerPage, .centerPage {
          text-align: center;
          padding: 20px 0;
        }
    </style>
</head>
<body>
    <div class="headerPage">
        <h2>Python note</h2>
    </div>
    <div class="centerPage">
        <p>Учебный проект для добавления заметок. </p>
    </div>
    <div class="footerPage">
        <b class="p">By OK. {{data}}</b>
    </div>
</body>
</html>