<div class="headerPage">
    <h2>Users</h2>
</div>
<div class="memoTable">
    <table class="mTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for item in objects_list %}
            <tr>
                <td>
                    <b>{{item.name}}</b>
                </td>
                <td>
                    <a href="/reader-list/?id={{item.id}}">View reader</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>