<div class="headerPage">
    <h2>Category</h2>
</div>
<div class="memoTable">
    <table class="mTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for item in category_list %}
            <tr>
                <td>
                    <b>{{item.name}}</b>
                </td>
                <td>
                    {{item.notes_count()}}
                </td>
                <td>
                    <a href="/note-list/?id={{item.id}}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="aboutCenterPage">
    <a class="button_link" href="/create-category/">Add category</a>
</div>