<div class="centerPage">
    <div class="memoTable">
        <table class="mTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            {% for item in notes_list %}
            <tr>
                <td><b>{{item.name}}</b></td>
                <td>{{item.description}}</td>
                <td>{{item.category.name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
