<div class="formFieldSet">
    <form action="" method="post">
        <fieldset>
            <table class="mTable">
                <thead>
                <tr>
                    <th>Add reader</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label class="title" for="name">Name:</label>
                    </td>
                    <td>
                        <input type="text" name="reader_name" id="reader_name" placeholder="Name">
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="submit" class="button_link" value="Save"/>
        </fieldset>
    </form>
</div>
