{% extends "base.html" %}
{% block title %}
	Python note
{% endblock %}
{% block style %}
{% include "css/inc-style.css" %}
{% endblock %}
{% block body %}
    {% include "inc-menu.html" %}
    <br>
    <div>
        <a href="/category/">Back</a>
    </div>
    <br>
    <div>
        <a href="/create-note/?id={{id}}">Create new note</a>
        <br>
        <h1>Note list for category "{{name}}"</h1>
        {% for item in objects_list %}
        <div>
            <b>{{item.name}}</b> <span><a href="/copy-note/?id={{item.id}}">Copy</a></span>
        </div>
        {% endfor %}
    </div>
    {% include "inc-footer.html" %}
{% endblock %}
